financial_wellness/.idea/workspace.xml
financial_wellness/.idea/vcs.xml
financial_wellness/.idea/modules.xml
financial_wellness/.idea/misc.xml
financial_wellness/.idea/inspectionProfiles/profiles_settings.xml
financial_wellness/.idea/financial_wellness.iml
*.pyc
*.pyo
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.pyc
